@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  min-width: 400px;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  min-height: 100vh;
}

main {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  border: 1.5px solid black;
  width: 370px;
  box-shadow: 8px 8px black;
}

main > img:first-of-type {
  border-radius: 15px;
  width: 300px;
  aspect-ratio: 4.2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learning {
    margin: 25px 0;
    margin-bottom: 15px;
    padding: 5px 0px;
    background-color: hsl(47, 88%, 63%);
    width: 85px;
    text-align: center;
    border-radius: 5px;
    font-weight: 800;
}

.tiny {
    font-size: 13.5px;
}

.grey {
  color: hsl(0, 0%, 42%);
}

.dark-gray {
  color: hsl(0, 0%, 7%);
}

h2 {
    margin: 10px 0;
    font-size: 22.5px;
    font-weight: 800;
}

.name {
    display: flex;
    margin-top: 25px;
    font-weight: 800;
}

.name img {
    max-width: 30px;
    margin-right: 12px;
}

h2:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}